# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin_darwin/
.vscode/
*.a

DTTREK/dtaverage
DTTREK/Cimage_header.o
DTTREK/dtadd2
DTTREK/dtbeammask
DTTREK/dtbin
DTTREK/dtcell
DTTREK/dtcompare
DTTREK/dtcompose
DTTREK/dtcorrect
DTTREK/dtcreate
DTTREK/dtdarksubtract
DTTREK/dtdecompose
DTTREK/dtdezinger
DTTREK/dtdisplayupdate
DTTREK/dtdistor
DTTREK/dtextractheader
DTTREK/dtfind
DTTREK/dtheaderedit
DTTREK/dtheadermerge
DTTREK/dtindex
DTTREK/dtintegrate
DTTREK/dtmultistrategy
DTTREK/dtnonunfedit
DTTREK/dtorient
DTTREK/dtpixhist
DTTREK/dtpredict
DTTREK/dtprofit
DTTREK/dtrank
DTTREK/dtranker
DTTREK/dtraxis
DTTREK/dtrebatch
DTTREK/dtrefine
DTTREK/dtreflnmerge
DTTREK/dtrek2raxis
DTTREK/dtreksys.o
DTTREK/dtsbcdark
DTTREK/dtsbcdarkmask
DTTREK/dtscaleaverage
DTTREK/dtsmooth
DTTREK/dtstrategy
DTTREK/dtx2refln
DTTREK/libdtrek_darwin.a
DTTREK/Cimage_header.o
DTTREK/dtreksys.o